.elementor-button-wrapper:has(.amfm-map-filter-item) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 5px !important;
}

/* Cols */
.elementor-button-wrapper:has(.amfm-col-2) {
    width: 50%;
}

.elementor-button-wrapper:has(.amfm-col-3) {
    width: 33.333%;
}


/* Photos */
.amfm-maps-photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.amfm-maps-photo-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.amfm-maps-photo-item img {
    width: 100%;
    height: auto;
    display: block;
}